.SwipeActions {
    position: relative;
}

.SwipeActions .trigger {
    position: relative;
    z-index: 1;
}

.SwipeActions .actions-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.SwipeActions .actions {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.SwipeActions .actions .material-symbols-outlined {
    color: white;
}

.SwipeActions .action:focus-visible {
    outline-offset: -2px;
    outline-width: 2px;
}

.SwipeActions .trigger:focus-visible::before {
    content: 'arrow_back delete';
    font-family: 'Material Symbols Outlined';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;
    letter-spacing: -6px;
    padding-right: 16px;
}
